:root{
    --item-width: 100px;
}
.Container{
    border: 3px solid black;
    margin-bottom: 1rem;
    position: relative;
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 50px 60px 60px 60px 60px 60px;
    grid-template-areas:
    "display display display display"
    "operators operators operators operators"
    "keypad keypad keypad equal"
    "keypad keypad keypad equal"
    "keypad keypad keypad equal"
    "keypad keypad keypad equal";
}
section{
    margin-bottom: 1rem;
    position: relative;
    display: grid;
    width: fit-content;
    height: fit-content;
}
section.Display{
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 50px;
    grid-area: display;
}
.Res{
    border: 1px solid rgb(138, 138, 163);
    margin: 0;
    text-align: center;
    font-size: 24px;
}
section.Operators{
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 60px;
    grid-area: operators;
}
.Op{
    border: 1px solid rgb(138, 138, 163);
    margin: 0;
    text-align: center;
    font-size: 24px;
}
section.Equal{
    grid-template-columns: 90px;
    grid-template-rows: 60px 60px 60px 60px;
    grid-area: equal;
}
.Eq{
    border: 1px solid rgb(138, 138, 163);
    margin: 0;
    text-align: center;
    font-size: 24px;
}
section.Keypad{
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 60px 60px 60px 60px;
    grid-area: keypad;
}
.Kp{
    border: 1px solid rgb(138, 138, 163);
    margin: 0;
    text-align: center;
    font-size: 24px;
}