:root{
    --item-width: 100px;
}
@font-face {
    font-family: Digital;
    src: url(digital-7.ttf);
}
.Container{
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    display: grid;
    grid-area: container;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 50px 60px 60px 60px 60px 60px;
    grid-template-areas:
    "display display display display"
    "operators operators operators operators"
    "keypad keypad keypad equal"
    "keypad keypad keypad equal"
    "keypad keypad keypad equal"
    "keypad keypad keypad equal";
}
section{
    margin-bottom: 1rem;
    position: relative;
    display: grid;
    width: fit-content;
    height: fit-content;
}
section.Display{
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 50px;
    grid-area: display;
    font-family: Digital;
}
.Res{
    text-align: end;
    font-size: 30px;
    background-color: rgb(58, 56, 70);
    color: white;
    width: 360px;
}
section.Operators{
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 60px;
    grid-area: operators;
}
.Op{
    border: 1px solid rgb(138, 138, 163);
    text-align: center;
    font-size: 24px;
}
section.Equal{
    grid-template-columns: 90px;
    grid-template-rows: 60px 60px 60px 60px;
    grid-area: equal;
}
.Eq{
    border: 1px solid rgb(138, 138, 163);
    height: 240px;
    text-align: center;
    background-color: rgba(250, 75, 75, 0.719);
    font-size: 24px;
}
section.Keypad{
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 60px 60px 60px 60px;
    grid-area: keypad;
}
.Kp{
    border: 1px solid rgb(138, 138, 163);
    text-align: center;
    font-size: 24px;
}

/* HO PROVATO A CENTRARE I CARATTERI NEI VARI DIV MA NON CI SONO RIUSCITO E NON HO TROVATO
SOLUZIONI OTTIMALI ONLINE. NON SONO RIUSCITO A CAPIRE COME RIMUOVERE IL BORDO ESTERNO SENZA
FAR VEDERE I BORDI ATTRIBUITI AI DIV INTERNI AL CONTAINER, TANTOMENO SONO RIUSCITO AD
APPLICARE LA STESSA OMBRA DELL'IMMAGINE AL CONTORNO DELLA CALCOLATRICE (HO PROVATO CON
BOX-SHADOW MA IL RISULTATO NON ERA QUELLO SPERATO.
NON SO COME CENTRARE IL CONTAINER ALL'INTERNO DELLA PAGINA.
HO PROBLEMI CON LE DIREZIONI.