:root{
    --item-width: 100px;
}
@font-face {
    font-family: Digital;
    src: url(digital-7.ttf);
}
.Container{
    border: 1px solid rgb(216, 214, 214);
    box-shadow: 2px 4px 2px #6d6c6c;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 10rem;
    margin-left: 10rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    display: grid;
    grid-area: container;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 50px 60px 60px 60px 60px 60px;
    grid-template-areas:
    "display display display display"
    "operators operators operators operators"
    "keypad keypad keypad equal"
    "keypad keypad keypad equal"
    "keypad keypad keypad equal"
    "keypad keypad keypad equal";
}
section{
    margin-bottom: 1rem;
    position: relative;
    display: grid;
    width: fit-content;
    height: fit-content;
}
section.Display{
    background-color: rgb(58, 56, 70);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 50px;
    grid-area: display;
    font-family: Digital;
}
.Res{
    font-size: 30px;
    color: white;
    width: 360px;
    padding-top: 8px;
    padding-left: 320px;
}
section.Operators{
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 60px;
    background-color: rgba(195, 206, 209, 0.849);
    grid-area: operators;
}
.Op{
    border: 1px solid rgb(138, 138, 163);
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}
section.Equal{
    grid-template-columns: 88px;
    grid-template-rows: 60px 60px 60px 58px;
    background-color: rgba(250, 75, 75, 0.719);
    grid-area: equal;
    border: 1px solid rgb(138, 138, 163);
    border-bottom-right-radius: 10px;
}
.Eq{
    height: 240px;
    text-align: center;
    font-size: 24px;
    padding-top: 100px;
}
section.Keypad{
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 60px 60px 60px 60px;
    grid-area: keypad;
    background-color: #f5f5f5;

}
.Kp{
    border: 1px solid rgb(138, 138, 163);
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}
#zero{
    border-bottom-left-radius: 10px;
}