:root{
    --color1: rgb(2, 2, 61);
    --range: 100px;
    --moon: rgb(229, 238, 187);
    --round: 50px;
}

body {
    background-color: var(--color1);
}

.ball {
    width: var(--range);
    height: var(--range);
    background-color: var(--moon);
    border-radius: var(--round);
}
